__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.cache/
.pytest_cache/
.mypy_cache/

venv/
.venv/
.env

.vscode/
.idea/

coverage.xml
htmlcov/
*.cover
*.py,cover

logs/
*.log

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

*.iml

volumes/

*.pem
